:root {
    --cor-de-fundo: #ffffff;
    --texto: #000000; /*cor do texto do site*/
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--texto);

}
/* yes */
header

.img-intro {
    width: 20%;
}

.intro {
    display:flex ;
}

.pic {
    width: 20%;
}

.equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.foto-equipe {
    width: 40%;
}